.container-fluid
  .row-fluid
    .span14
      %a.large{:href => ""} about 
  .row-fluid
    .span8
      %br
      %p.medium getsdone.io is a free, public service.  there will always be a free, public service.  however, we have plans to launch a business class service in the near term.  i fully believe in an mvp type of service, and this is currently in alpha so please do send me feedback, i would love to hear your comments and questions.
      %a{:href => "mailto:stephen@getsdone.io"} stephen@getsdone.io
      %p copyright &copy; 2013 uhlelo

