.container
  .row
    .span14
      %a.large{:href => ""} blog
  .row
    .span12
      %br
      %img{:src => "images/glyphicons_003_user.png"}
      %p.since Fri Apr 19, 2013 00:29
      %p.medium think of getsdone.io as a heavily opinionated task management service, for example, all tasks have a deadline of 24 hours and this is not user configurable.  the reasoning is really two-fold, to penalize the super large actions that aren't being broken down into small enough parts, and to make adding actions as frictionless and simple as possible, this is a critical design decision, sure datepickers will be a part of html5 and supported by many browsers, but adding actions should be as simple as writing a tweet, if there are many more things i need to click (or tap), i'm going to add less.  the former reasoning is just as simple, break down big problems into smaller, more manageable parts, remember divide and conquer?  ever get that action to create an iphone app?  well, does it need login, what about a splash screen, does it need to cache things locally, what about all the workflows, and which apis to connect to?  the other extremes are actions that are broken down into extremely small actions, i.e. an action which takes less time to complete than to actually add, this actually isn't a problem and the system will not penalize these cases.  more often than not, in these scenarios, the user will probably just finish the task and not even bother to input which is promoting excellent behavior.
      %p.medium lastly, i decided that i didn't want to have a long list of dependencies for each action, remember those gantt charts in microsoft project (probably not) with the super long list of dependencies that crippled the project deadline since adding those would triple the time required to complete the action?  gone.  not interested in solving those problems.  getsdone.io is all about speed, speed of execution and getting shit done.
  .row
    .span12
      %br
      %img{:src => "images/glyphicons_003_user.png"}
      %p.since Tue Apr 9, 2013 00:47
      %p.medium welcome to getsdone.io!  this project was conceived as a way to make work protocol more efficient (and fun).  there's a natural tendency for work to be a social, collaborative effort so the idea was to integrate social elements with task management.
 
