.container
  .row
    .span14
      %a.large{:href => ""} blog
  .row
    .span8
      %br
      %img{:src => "images/glyphicons_003_user.png"}
      %p.since Tue Apr 9, 2013 00:47
      %p.medium welcome to getsdone.io!  this project was conceived as a way to make communication more efficient.  there's a natural association between work and people so it made complete sense to add a social element.  assigning tasks is as easy as sending a short tweet-like message. 
