.container
  .row
    .span14
      %a.large{:href => ""} company
  .row
    .span8
      %br
      %p.large getsdone.io is completely self-funded.  to learn more, send email to:
      %a{:href => "mailto:cto@getsdone.io"} cto@getsdone.io
