.container-fluid
  .row-fluid
    .span14
      %a.large{:href => ""} company
  .row-fluid
    .span8
      %br
      %p.medium getsdone.io is completely self-funded.  to learn more, send email to:
      %a{:href => "mailto:stephen@getsdone.io"} stephen@getsdone.io
