.container
  .row
    .col-lg-12
      %a.large{:href => ""} company
  .row
    .col-lg-8
      %br
      %p.medium getsdone.io is completely self-funded.  to learn more, send email to:
      %a{:href => "mailto:stephen@getsdone.io"} stephen@getsdone.io

