.container
  .row
    .col-lg-12
      %h2 forgotten your password?
      %input.input-xlarge{:type => "email", :maxlength => "15", :id => "email", :placeholder => "email"}
      %br
      %button.btn.btn-danger.btn-large reset password

