.container
  .jumbotron
    %h1 help
  .row
    .col-lg-12
      %dl
        %dt
          %h2 1.  create an action
          %dd
            %img{:src => url("images/create-action.png")}
        %dt
          %h2 2.  assign an action
          %dd
            %img{:src => url("images/assign-action.png")}
        %dt
          %h2 3.  comment on an action
          %dd
            %img{:src => url("images/comment-action.png")}
        %dt
          %h2 4.  reassign an action
          %dd
            %img{:src => url("images/reassign-action.png")}
        %dt
          %h2 5.  add a hashtag
          %dd
            %img{:src => url("images/hashtag.png")}

