.container
  .row
    .span14
      %table.table.table-hover
        %th
        %th action
        %th finished
        %th estimate
        %th comments
        - @actions.each do |a|
          %tr
            %td
              %img{:src => url("images/glyphicons_387_amazon.png"), :width => "32"}
            %td= a.action
            %td= a.finished
            %td= a.estimate
            %td
              %a{:href => ""} comments (3)

