.container
  .row
    .span14
      - @actions.each do |a|
        %div.action
          %div.title
            %img{:src => url("images/glyphicons_387_amazon.png"), :width => "64"}
            %p.since= a.time_remaining
          %div.content
            %p.medium= a.action
            %button.btn.btn-mini comments (2)
            %button.btn.btn-success.btn-mini complete
          %div.operations
            %a.pull-right{:href => ""}
              %img{:src => url("images/glyphicons_256_delete.png"), :width => "32"}

