.container
  .hero-unit
    %h1 welcome to getsdone.io
    %p.lead getting things done socially
    %button.btn.btn-primary.btn-large{:onclick => "goto('/signup'); return false;"}  signup for free
  .row-fluid
    .span4
      %h2 take action
      %p creating actions should be as frictionless as possible, no need to input dates, owners, dependencies, estimates, or pick projects, focus on what you want done and create actions with the ease of sending a tweet.
    .span4
      %h2 socialize
      %p many actions are collaborative by nature, assign actions to your friends, family, or colleagues, harness the power and simplicity of social networks and make work more fun!
    .span4
      %h2 manage
      %p visualize and track statistics for all actions assigned to you and those that are assigned by you.  track efficiency and make adjustments to maximize effectiveness.

