.jumbotron
  .container
    %h1 Welcome to getsdone.io
    %p.lead A modern task management tool.
  - if @user.nil?
    %div.input-group
      %input.form-control.input-lg{:type => "text", :id => "username", :maxlength => "15", :placeholder => "Username"}
    %div.input-group
      %input.form-control.input-lg{:type => "email", :id => "email", :maxlength => "64", :placeholder => "Email"}
    %div.input-group
      %input.form-control.input-lg{:type => "password", :id => "password", :maxlength => "20", :placeholder => "Password"}
    %div.input-group
      %button.btn.btn-primary.btn-lg{:onclick => "signup(); return false;"} Sign up for free
.container
  .row
    .col-lg-12
      %img{:src => url("images/sample.png"), :width => "1024"}

