.container
  .row-fluid
    .span14
      %form.form-inline
        %input.input-xxlarge.big{:type => "text", :placeholder => "action text"}
        %button.btn.btn-primary add action
    .span14
    .span14
      %div.gauge
        %div.key OPEN
        %div.value 23
      %div.gauge
        %div.key TODAY
        %div.value 2
      %div.gauge
        %div.key OVERDUE
        %div.value 1
      %div.gauge
        %div.key completed
        %div.value 3180
      %div.gauge.pull-right
        %div.key followers
        %div.value 2
      %div.gauge.pull-right
        %div.key following
        %div.value 10

