.container-fluid
  .row-fluid
  .row-fluid
  .row-fluid
  .row-fluid
  .row-fluid
    .span6
      %h2 welcome to getsdone.io
      %p.lead getting things done socially
    .span4
      %input.input-xlarge{:type => "text", :id => "username", :maxlength => "15", :placeholder => "username"}
      %br
      %input.input-xlarge{:type => "email", :id => "email", :maxlength => "64", :placeholder => "email"}
      %br
      %input.input-xlarge{:type => "password", :id => "password", :maxlength => "20", :placeholder => "password"}
      %br
      %button.btn.btn-primary.btn-large{:onclick => "signup(); return false;"} sign up
  .row-fluid
    %br
    %br
    %hr
    .span6
      %h2 track actions:
      %img{:src => url("images/screenshot2.png")}
    .span4
      %h2 build a following:
      %img.img-polaroid{:src => url("images/screenshot3.png")}
    .span4
      %h2 manage:
      %img.img-polaroid{:src => url("images/activity.png")}

