!!!
%html{:lang => "en"}
  %head
    %title getsdone.io
    %link{:rel => "stylesheet", :href => url("bootstrap/css/bootstrap.css")}
    %link{:rel => "stylesheet", :href => url("styles/getsdone.css")}
    %link{:rel => "stylesheet", :href => url("jquery/themes/jquery.ui.all.css")}
    %script{:src => url("jquery/jquery-1.9.1.js")}
    %script{:src => url("jquery/ui/jquery.ui.core.js")}
    %script{:src => url("jquery/ui/jquery.ui.widget.js")}
    %script{:src => url("jquery/ui/jquery.ui.mouse.js")}
    %script{:src => url("jquery/ui/jquery.ui.button.js")}
    %script{:src => url("jquery/ui/jquery.ui.draggable.js")}
    %script{:src => url("jquery/ui/jquery.ui.position.js")}
    %script{:src => url("jquery/ui/jquery.ui.resizable.js")}
    %script{:src => url("jquery/ui/jquery.ui.dialog.js")}
    %script{:src => url("jquery/ui/jquery.ui.effect.js")}
    %script{:src => url("other/twitter-text.js")}
    %script{:src => url("scripts/json2.js")}
    %script{:src => url("scripts/getsdone.js")}
  %body
    - unless session[:user].nil? or @nohead
      = haml :navbartop
    = yield
    - unless @nofoot
      = haml :navbarbottom

