.container
  .row
    .col-lg-6
      %h2 login to your account
      <!--%button.btn.btn-info login with google-->
      %br
      %div.input-group
        %input.form-control.input-lg{:type => "text", :maxlength => "15", :id => "username", :placeholder => "username"}
      %div.input-group
        %input.form-control.input-lg{:type => "password", :maxlength => "20", :id => "password", :placeholder => "password"}
      %div.input-group
        %button.btn.btn-primary.btn-lg{:onclick => "login(); return false;"} login
        %a.since{:href => "/forgot"}  forgot your password?

