.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %a.brand{:href => ""}
        getsdone.io
        %sup alpha
      %ul.nav
        %li
          %a{:href => "home"} home
        %li
          %a{:href => "blog"} blog
        %Li
          %a{:href => "company"} company
        %li
          %a{:href => "about"} about
      %ul.nav.pull-right
        %li
          - if session[:user].nil?
            %button.btn{:onclick => "login(); return false;"} login

