.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %a.brand{:href => "/"}
        getsdone.io
        %sup alpha
      %ul.nav
        %li
          %a{:href => "/home"} home
        %li
          %a{:href => "/blog"} blog
        %Li
          %a{:href => "/company"} company
        %li
          %a{:href => "/privacy"} privacy
        %li
          %a{:href => "/terms"} terms
        %li
          %a{:href => "/about"} about
      %ul.nav.pull-right
        %li
          - if session[:getsdone].nil?
            %button.btn.btn-success{:onclick => "login(); return false;"} login
          - else
            %button.btn.btn-success{:onclick => "logout(); return false;"} logout

