.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %a.brand{:href => ""}
        getsdone.io
        %sup alpha
      %ul.nav
        %li
          %a{:href => "index"} home
        %li
          %a{:href => "today"} today
        %li
          %a{:href => "weekly"} weekly
        %li
          %a{:href => "followed"} followed
        %li
          %a{:href => "history"} history

