.container-fluid
  .row-fluid
    .span14
      %a.large{:href => ""} privacy
  .row-fluid
    .span8
      %br
      %p.medium getsdone.io may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the <a href="/terms">terms of services</a>.
      %p.medium but in general, getsdone.io strongly believes in the privacy of users and does not collect, share, or disseminate personal information for any use.

