.container
  .row-fluid
    .span14
      %h2 sign up for getsdone.io
      %p.since by creating your getsdone.io account you agree to our <a href="/terms">terms</a> and <a href="/privacy">privacy</a> policy
      %br
      %button.btn.btn-info signup with google
      %br
      %br
      %input.input-xlarge{:type => "text", :maxlength => "15", :id => "username", :placeholder => "username"}
      %br
      %input.input-xlarge{:type => "email", :maxlength => "15", :id => "email", :placeholder => "email"}
      %br
      %input.input-xlarge{:type => "password", :maxlength => "20", :id => "password", :placeholder => "password"}
      %br
      %button.btn.btn-primary.btn-large sign up
    .span14

