.container
  .row-fluid
    .span14
      %form.form-inline
        %input.input-xxlarge.big{:type => "text", :placeholder => "action text", :id => "action"}
        %button.btn.btn-primary{:onclick => "add_action(); return false;"} add action
