.container
  .row-fluid
    .span14
      %form.form-inline
        %input.input.input-xxlarge.big{:type => "text", :placeholder => "action text"}
        %button.btn.btn-primary add action
    .span14
      %div.gauge
        %h2.left today:
      %div.gauge
        %div.value 4
        %div.key open
      %div.gauge
        %div.value 2
        %div.key overdue
    .span14
    .span14
      %table.table
        %tr
          %td.since 31m
          %td
            %img{:src => url("images/glyphicons_395_flickr.png"), :width => "48"}
          %td
            %a{:href => ""} werewolf
          %td
            %a{:href => ""}
              %button.btn.btn-mini.btn-primary cloud
            %p.medium finish wrench README.rd updates for v0.0.2
            %button.btn.btn-mini comments (2)
            %button.btn.btn-success.btn-mini complete
          %td
            %a{:href => "hashtag"}
              %button.btn.btn-mini cloud
          %td
            %img{:src => url("images/glyphicons_016_bin.png")}
        %tr
          %td.since 10m
          %td
            %img{:src => url("images/glyphicons_381_github.png")}
          %td
            %a{:href => ""} werewolf
          %td
            %p.medium here's an extremely long set of actions for us to take on as a team
            %button.btn.btn-mini comments (13)
            %button.btn.btn-success.btn-mini complete
          %td
            %a{:href => "hashtag"}
              %button.btn.btn-mini cloud
          %td
            %img{:src => url("images/glyphicons_016_bin.png")}
        %tr
          %td.since 3m
          %td
            %img{:src => url("images/glyphicons_381_github.png")}
          %td
            %a{:href => ""} werewolf
          %td
            %p.medium what happens if there are multiple owners of an action item?, then it's 1 action per person.
            %button.btn.btn-mini comments (0)
            %button.btn.btn-success.btn-mini complete
          %td
            %a{:href => "hashtag"}
              %button.btn.btn-mini cloud
          %td
            %img{:src => url("images/glyphicons_016_bin.png")}
        %tr
          %td.since 1m
          %td
            %img{:src => url("images/glyphicons_381_github.png")}
          %td
            %a{:href => ""} epynonymous
          %td
            %p.medium what happens if there are multiple owners of an action item?, then it's 1 action per person.
            %button.btn.btn-mini comments (0)
            %button.btn.btn-success.btn-mini complete
          %td
            %a{:href => "hashtag"}
              %button.btn.btn-mini cloud
          %td
            %img{:src => url("images/glyphicons_016_bin.png")}

